#include? "../Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include? "../Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-runner.xcconfig"
#include "Generated.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = ru.quantum.levelup1
PRODUCT_NAME = level_up
APP_DISPLAY_NAME = 220LBS
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
LAUNCH_SCREEN_NAME=LaunchScreen